<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <th:block th:include="template :: scripts_css">
    </th:block>
    <title>PROFILE</title>
</head>
<body>
<th:block th:include="template :: navigator"/>
<h2>
    <p ALIGN=CENTER> YOUR PROFILE <p/>
</h2>

<form method="get" action="/user/addAuction">
    <button type="submit" class="btn btn-lg btn-block btn-primary">Add new auction</button>
</form>
<form method="get" action="/user/ongoing">
    <button type="submit" class="btn btn-lg btn-block btn-primary">My ongoing auctions</button>
</form>
<form method="get" action="/user/followed">
    <button type="submit" class="btn btn-lg btn-block btn-primary">Followed offers</button>
</form>
<form method="get" action="/user/updateAddress">
    <button type="submit" class="btn btn-lg btn-block btn-primary">Update address</button>
</form>

<th:block th:include="template :: scripts_js"/>

</body>
</html>