<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <th:block th:include="template :: scripts_css">
    </th:block>
    <title>PROFILE</title>
</head>
<body>
<th:block th:include="template :: navigator"/>
<h2>
    <P ALIGN=CENTER> YOUR PROFILE <P/>
</h2>



<th:block th:include="template :: scripts_js"/>

</body>
</html>