<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <th:block th:include="template :: scripts_css">

    </th:block>
    <title>YOYO ALLEGRO</title>
</head>
<body>
<th:block th:include="template :: navigator"/>
<body>


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">NEW OFFERS</h1>
</div>


<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>CATEGORIES</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file"></span>
                            All items
                        </a>
                    </li>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Check your preferences</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file"></span>
                            Metal yoyos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="shopping-cart"></span>
                            Plastic yoyos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="bar-chart-2"></span>
                            New yoyos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers"></span>
                            Used yoyos
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Pick yoyo by playstyle</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            1A / 3A / 5A
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            2A (Looping)
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            4A (Offstring)
                        </a>
                    </li>
                </ul>
            </div>
        </nav>


<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">YOYO1</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$15</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Condition: NEW</li>
                    <li>Playstyle: 1A/3A/5A</li>
                    <li>Material: METAL</li>
                    <li>Available till: 28/02/2019</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">SEE DETAILS</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">YOYO 2</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$30</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Condition: USED</li>
                    <li>Playstyle: 4A</li>
                    <li>Material: PLASTIC</li>
                    <li>Available till: 28/02/2019</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">SEE DETAILS</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">YOYO 3</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$29</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Condition: NEW</li>
                    <li>Playstyle: 1A/3A/5A</li>
                    <li>Material: METAL</li>
                    <li>Available till: 28/02/2019</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">SEE DETAILS</button>
            </div>
        </div>
    </div>

</div>



<th:block th:include="template :: scripts_js"/>

</body>
</html>